.App {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fbffdc;
	height: 100vh;
	/*text-align: center;*/
}

.monitor{
	display: flex;
	justify-content: right;
	align-items: end;
	background-color: aquamarine;
	min-height: 80px;
	padding: 1vw;
	box-sizing: border-box;
	width: 350px;
	font-size: 3em;
	/*overflow: hidden;*/
	word-break: break-word;
	/*overflow-wrap: normal;*/
	font-weight: bold;
	margin-bottom: 2vh;
	transition: all 300ms ease;
}

.monitor:hover{
	box-shadow:0 0 50px 1px rgba(0, 0, 0, 0.2);
	transform: scaleX(1.1) scaleY(1.1);
}

.btn-container{
	display: flex;
	flex-wrap: wrap;
	/*overflow-wrap: ;*/
	justify-content: center;
	/*width: 400px;*/
	text-align: center;
}

.btn{
	user-select: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	margin: 5px;
	font-size: x-large;
	transition: all 300ms ease;
	cursor: pointer;
}


.btn:hover{
	/*opacity: .5;*/
	/*filter: drop-shadow(0px 0px 10px black);*/
	box-shadow:0 0 40px 2px rgba(0, 0, 0, 0.2);
	transform: scaleX(1.1) scaleY(1.1);
}

.btn:active{
	background-color: #dd00ff;

}

.break {
  flex-basis: 100%;
  height: 0;
}

