.App {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: antiquewhite;
	height: 100vh;
	/*text-align: center;*/
}

.monitor{
	display: flex;
	justify-content: right;
	align-items: end;
	background-color: aquamarine;
	height: 20vh;
	padding: 1vw;
	box-sizing: border-box;
	width: 380px;
	font-size: 4em;
	word-break: break-word;
	overflow-wrap: normal;
	font-weight: bold;
	margin-bottom: 2vh;
}

.btn-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 400px;
	text-align: center;
}

.btn{
	user-select: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	margin: 10px;
	font-size: x-large;
	transition: background-color 300ms ease;
	cursor: pointer;
}


.btn:hover{
	background-color: rgb(247, 135, 178);
}
